@mixin f {
  display: flex;
}

.f-cc {
  @include f;
  @apply justify-center items-center;
}

.f-b {
  @include f;
  justify-content: space-between;
}

.f-ac {
  @include f;
  @apply items-center;
}

.f-jc {
  @include f;
  @apply justify-center;
}

.f-dc {
  flex-direction: column;
}
